.selectedTab {
    color: #efe2ff !important;
    /* background: #624f9c !important; */
}

.selectedTrendingTab {
    color: #fafafa !important; 
    border-top: 1px solid;
    font-weight: 500 !important;
}