.selectedTab {
    color: #FFF !important;
    font-weight: 500 !important;
    /* background: #624f9c !important; */
}

.selectedTrendingTab {
    color: #FAFAFA !important; 
    border-top: 1px solid;
    font-weight: 500 !important;
}