@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #1B1A1F;
    color: white;
    font-family:  sans-serif;
}

main {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding-bottom: 48px;
    margin-top: 48px;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: inline;
    color: rgb(170, 167, 179);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.6px;
    margin-top: 24px;
    margin-right: 16px;
    transition: 0.125s ease-in;
    padding: 4px 0px;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 1px solid;
}

.navigation ul a:hover {
    opacity: 0.65;
    padding: 8px 0px;
    transition: 0.125s ease-in;
}

.header {
    padding: 50px 0px;
}

.userFeedHeader {
    margin-bottom: 48px;
    margin-top: 40px;
}

.userFeedHeader h1 {
    font-size: 32px;
    margin: 8px 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.userFeedHeader h2 {
    font-size: 17px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #f0f5ff;
}

.homepageHeader {
    margin-top: 32px !important;
}

.header_h1 {
    display: flex;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    width: 244px;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    color: #FFF;
    text-align: center;
    padding: 0px 0px 0px 10px;
}

.header p {
    text-align: center;
    margin-bottom: 24px;
    font-size: 17px;
}

.recentlyUnfollowed {
    color: #EFE7F8;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.unfollowCard {
    background-color: #252432;
    text-align: center;
    margin: 12px 0px;
    padding: 18px 0px 26px 0px;
    border-radius: 4px;
}

.unfollowCard > a {
    color: #807d95;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: 0.48px;
}

.unfollowCard h3 a:hover {
    opacity: 0.65 !important;
    padding-bottom: 6px;
}

.unfollowCard h3 {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.6px;
    padding-top: 4px;
}

.unfollowCard h3 a {
    /* text-decoration-line: underline; */
    transition: 0.125s ease;
    padding-bottom: 4px;
    border-bottom: 1px solid white
}

.noMoreCaption, .mostRecentCaption {
    color: #FFF;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.8px;
    padding-top: 8px;
    display: block;
}

.backButton {
    color: #b2a2c8;
    font-size: 14px;
    margin-top: 24px;
    display: block;
    transition: 0.125s ease-in;
    padding: 8px 12px;
    background: #3b3550;
    width: fit-content;
    border-radius: 2px;
    display: inline;
}

.backButton:hover {
    /* text-decoration: underline; */
    color: #d1b9f1;
    background: #624f9c;
    transition: 0.125s ease-in;
}

.viewOnWarpcast {
    color: #9b93a7;
    font-size: 14px;
    display: block;
    transition: 0.125s ease-in;
    padding: 6px 12px;
    background: #25222e;
    width: fit-content;
    border-radius: 2px;
    float: right;
    border: 1px solid #38333e;
    margin-top: -28px;
}

.viewOnWarpcast:hover {
    color: #d1b9f1;
    background: #624f9c;
    transition: 0.125s ease-in;
}

.viewOnWarpcast svg {
    display: inline;
    filter: invert(82%) sepia(62%) saturate(1235%) hue-rotate(191deg) brightness(101%) contrast(28%);
    margin-top: -3px;
    margin-left: 4px;
    margin-right: -4px;
}

.header form {
    display: flex; /* This bit sets up the horizontal layout */
    flex-direction: row;
    padding: 2px;
    margin-bottom: 48px;
}
  
.header form input {
    flex-grow: 2; /* Tell the input to use all the available space */
    border: none; /* And hide the input's outline, so the form looks like the outline */
    background-color: #EDEAFF;
    color: black;
}
  
.header form input:focus {   /* remove the input focus blue box, it will be in the wrong place. */
    outline: none;
}
  
.header form:focus-within { /* Add the focus effect to the form so it contains the button */
    display: relative;
}
  
.header form button {
    border: 1px solid #A46CEB; /* Just a little styling to make it pretty */
    background: #A46CEB;
    padding: 6px 12px;
    margin-left: 8px;
    border-radius: 4px;
    color: white;
    transition: 0.125s ease;
}

.header form button:hover {
    opacity: 0.65;
}

.search a {
    color: #FFF;
    opacity: 0.5;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.8px;
    display: block;
    margin-top: -32px;
    margin-bottom: 24px;
}

.search input {
    padding: 6px 12px;
    border-radius: 4px;
}

.search button:disabled,
.search button[disabled] {
    background: #8e8c91;
    color: #c7c3d0;
    border: 1px solid #8e8c91;
}

::-webkit-input-placeholder {
   color: rgb(174, 170, 199) !important;
}

.trendingButtons {
    display: flex;
    justify-content: space-between;
}

.trendingButtons .buttonDiv {
    flex: 1;
}

.trendingButtons button {
    text-align: center;
    width: -webkit-fill-available;
    padding: 12px 4px 2px 4px;
    margin: 0px 0px;
    color: #9b98a6;
    transition: 0.125s ease-in;
    font-weight: 300;
}

.trendingButtons button:hover {
    opacity: 0.65;
}

@media only screen and (max-width: 600px) {
    body {
      padding: 0px 8px;
    }
    .backButton {
        /* margin-left: 8px; */
    }
    .unfollowCard {
        border-radius: 0px;
    }
    .navigation ul li a {
        font-size: 16px;
        padding: 4px 0px;
    }
    .navigation ul {
        margin-left: 12px;
    }
}